img {
  width: 100%;
  height: 300px;
  border-style: solid;
  border-color: #696969;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-family: Lobster;
  text-shadow: 8px 0 #696969;
}

div {
  position: relative;
  text-align: center;
  color: white;
}

