<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

<div class="page-container">

  <div class="h1bg">
  <h1>About</h1>
  </div>
<!-- Personal Image section -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col">
        <div class="icon-block">
          <h2 class="center brown-text"><img src="assets/robert2.jpg" class="robert" width="250" height="250"></h2>
        </div>
      </div>
      <!-- About Me section -->
      <div class="col">
        <div class="flex-md-row mb-4 h-md-250">
          <div class="card-body d-flex flex-column align-justified">
            <p class="justify">After traveling to various parts of the world, I realized that traveling brings upon new perspective.
            The buildings, the food, and the people all brings new experiences. Some countries I've seen are more developed than others.
            However, people everywhere learn to appreciate the things they have and that is something not to be taken for granted. Sharing these
            experiences with the ones that matters to me is a treasure I will always relish to this day.</p>

            <!--<p class="quote">"The world is a book and those who do not travel read only one page" - St Augustine</p>-->
          </div>
        </div>
      </div>

      <!-- Extra section -->
      <div class="col">
        <div class="flex-md-row">
          <div class="card-body d-flex flex-column align-items-start">
            <p class="justify">Below are some of the places I've been to.
            However, if you would like to learn more about my travel adventures click <a routerLink="/destination">here</a>.</p>
    </div>
  </div></div></div>  </div>
</div>
</div>

<br>

<div class="page-container2">

<br>
<h4>North America</h4>
<p><img src="assets/usa.png" border="0" width="30" height="20">&nbsp;
  USA - California, Florida, Hawaii, Louisiana, Maryland, Nevada, New Jersey, New York, Oregon, Pennsylvania, Texas, Washington, Virginia</p>
<p><img src="assets/canada.png" border="0" width="30" height="20">&nbsp;
    Canada - Ontario, Vancouver </p>
<p><img src="assets/mexico.png" border="0" width="30" height="20">&nbsp;
  Mexico - Cancún, Los Cabos</p>

<br>
<h4>Asia</h4>
<p><img src="assets/cambodia.png" border="0" width="30" height="20">&nbsp;
  Cambodia - Battambang, Phnom Penh, Siem Reap</p>
<p><img src="assets/china.png" border="0" width="30" height="20">&nbsp;
  China - Hong Kong</p>
<p><img src="assets/japan.png" border="0" width="30" height="20">&nbsp;
  Japan - Tokyo</p>
<p><img src="assets/singapore.png" border="0" width="30" height="20">&nbsp;
  Singapore - Singapore</p>
    <p><img src="assets/taiwan.png" border="0" width="30" height="20">&nbsp;
      Taiwan - Taipei</p>
<p><img src="assets/thailand.png" border="0" width="30" height="20">&nbsp;
  Thailand - Bangkok, Chiang Mai</p>

<br>
<h4>Australia</h4>
<p><img src="assets/australia.png" border="0" width="30" height="20">&nbsp;
  Australia - Sydney</p>

<br>
<h4>Europe</h4>
<p><img src="assets/england.png" border="0" width="30" height="20">&nbsp;
  England - London</p>
<p><img src="assets/france.png" border="0" width="30" height="20">&nbsp;
  France - Paris</p>

</div>
