.quote {
  //text-align: center;
  font-weight: bold;
  //color: white;
  font-size: 25px;
  font-family: Lobster;
}

.page-container {
  border-style: solid;
  border-color: #696969;
  list-style-type: none;
  margin: 0;padding: 0;
  background: rgb(238, 238, 238);
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-container2 {
  border-style: solid;
  border-color: #696969;
  list-style-type: none;
  margin: 0;padding: 0;
  background: rgb(238, 238, 238);
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    padding-left: 50px;
  }
}

.h1bg {
  background-color: #696969;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  display: inline-block;
}

.justify {
  text-align: justify;
}

h4 {
  padding-left: 50px;
}

.robert {
  border-style: solid;
  border-color: #696969;
  margin-top: 30px;
}
