label {
  display: block;

  input, textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
  }

  .error {
    margin-top: -20px;
    background: yellow;
    padding: .5em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
  }
}

.cta {
  background: #7700FF;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';
  margin-left: 50px;
}
    .cta:hover {
      background-color: #4B0082;
    }



.results {
  margin-top: 50px;

  strong {
    display: block;
  }
  span {
    margin-bottom: 20px;
    display: block;
  }
}

.h1bg {
  background-color: #696969;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  display: inline-block;
}

.page-container {
  border-style: solid;
  border-color: #696969;
  list-style-type: none;
  margin: 0;padding: 0;
  background: rgb(238, 238, 238);
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  padding-left: 50px;
}

