<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img class="logo" src="assets/Logo1.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/">Home</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="#">Portfolio</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="#">Contact</a>-->
      <!--</li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/destination">Destinations</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/contact">Contact</a>-->
      <!--</li>-->

      <!--<li ngbDropdown class="nav-item dropdown">-->
        <!--<a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>-->
        <!--<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">-->
          <!--<a class="dropdown-item" target="_blank" href="https://angular.io/">Angular</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://material.angular.io//">Angular Material</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://bootswatch.com/">Bootswatch</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://codepen.io/">CodePen</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://fontawesome.com/">Font Awesome</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://getbootstrap.com/docs/3.3/css/#code">GetBootstrap</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://hackerthemes.com/bootstrap-cheatsheet/#!">HackerThemes</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://mdbootstrap.com/angular/">MD Bootstrap</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://ng-bootstrap.github.io/#/components/accordion/examples">Ng-Bootstrap</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://www.quackit.com/css/css_color_codes.cfm/">Quackit</a>-->
          <!--<a class="dropdown-item" target="_blank" href="https://www.w3schools.com/">W3Schools</a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
</nav>

<p></p>
