<!--<link rel="stylesheet" href="css/bootstrap.css">-->

<div class="page-container">

  <div class="h1bg">
    <h1>Destinations</h1>
  </div>
  <br><br>

  <p>Below displays images and descriptions about my adventures throughout the years. The page is currently still in progress.</p>

  <br>
</div>
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2011</h2>-->

  <!--<br>-->
<!--</div>-->
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2012</h2>-->

  <!--<br>-->
<!--</div>-->
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2013</h2>-->

  <!--<br>-->
<!--</div>-->
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2014</h2>-->

  <!--<br>-->
<!--</div>-->
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2015</h2>-->

  <!--<br>-->
<!--</div>-->
<!--<br>-->

<!--<div class="page-container">-->
  <!--<h2>2016</h2>-->

  <!--<br>-->
<!--</div>-->
<br>

<div class="page-container">
  <!--<zippy title="2017">-->
    <h1>2017</h1>
    <h3>Sydney, Australia</h3>
    <img src="assets/2017/17a.jpg">
    <img src="assets/2017/17b.jpg">
    <img src="assets/2017/17c.jpg">
    <img src="assets/2017/17d.jpg">
    <img src="assets/2017/17e.jpg">
    <img src="assets/2017/17f.jpg">
    <img src="assets/2017/17g.jpg">
    <img src="assets/2017/17h.jpg">
    <img src="assets/2017/17i.jpg">
    <img src="assets/2017/17j.jpg">
  <br><br>

  <h3>San Diego Comic Con</h3>
    <img src="assets/2017/17_1.jpg">
    <img src="assets/2017/17_3.jpg">
    <img src="assets/2017/17_6.jpg">
    <img src="assets/2017/17_7.jpg">
    <img src="assets/2017/17_9.jpg">
    <img src="assets/2017/17_11.jpg">
  <br>
</div>
<br>
<!--</zippy>-->

<div class="page-container">
  <h1>2018</h1>
  <h3>Chiang Mai, Thailand</h3>
  <img src="assets/2018/cm.jpg">
  <img src="assets/2018/cm2.jpg">
  <img src="assets/2018/cm3.jpg">
  <img src="assets/2018/cm4.jpg">
  <img src="assets/2018/cm5.jpg">
  <img src="assets/2018/cm6.jpg">
  <img src="assets/2018/cm7.jpg">
  <img src="assets/2018/cm8.jpg">
  <img src="assets/2018/cm9.jpg">
  <img src="assets/2018/cm10.jpg">
  <br><br>

  <h3>Hong Kong, China</h3>
  <img src="assets/2018/hk.jpg">
  <img src="assets/2018/hk2.jpg">
  <img src="assets/2018/hk3.jpg">
  <img src="assets/2018/hk4.jpg">
  <img src="assets/2018/hk5.jpg">
  <img src="assets/2018/hk6.jpg">
  <img src="assets/2018/hk7.jpg">
  <img src="assets/2018/hk8.jpg">
  <img src="assets/2018/hk9.jpg">
  <img src="assets/2018/hk10.jpg">
  <br><br>

  <h3>Universal Studios - Orlando Florida</h3>
  <img src="assets/2018/18_1.jpg">
    <img src="assets/2018/18_2.jpg">
    <img src="assets/2018/18_3.jpg">
    <img src="assets/2018/18_4.jpg">
    <img src="assets/2018/18_5.jpg">
    <img src="assets/2018/18_6.jpg">
  <br><br>


</div>
