<div class="zippy">
  <div
    class="zippy-heading"
    [class.expanded]="isExpanded"
    (click)="toggle()">
    {{ title }}
    <span class="glyphicon"
          [ngClass]="{
        'fas fa-chevron-up': isExpanded,
        'fas fa-chevron-down': !isExpanded
      }"
    ></span>
  </div>
  <div
    [@expandCollapse]="isExpanded ?
                          'expanded' : 'collapsed'"
    class="zippy-body">
    <ng-content></ng-content>
  </div>
</div>


<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
