footer {
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 15px;
  text-align: center;
  //position: absolute;
  clear: both;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}
