<app-nav></app-nav>
<br><br>


<app-header></app-header>

<section>
  <router-outlet></router-outlet>
</section>

<br>

<!-- Footer -->
<footer class="footer footer-dark bg-dark">
  <div class="container">
    <p class="text-muted">Made by <a class="orange-text text-lighten-4" href="#">Robert Tea</a> © 2018</p>
  </div>
</footer>
