@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~bootstrap/dist/css/bootstrap.css";


html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 0px;   /* 80px */
  //background: rgb(2,0,36);
  //background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  background: #C0C0C0;
  position: relative;
}

a {
  text-decoration: none;
}


section {
  width: 80%;
  margin: 0 auto;
  //padding: 1em;
}

* {
  margin: 0;
  padding: 0;
}
