.quote {
  font-family: Lobster;
  font-size: 25px;
}

.h1bg {
  background-color: #696969;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  display: inline-block;
}

.page-container {
  border-style: solid;
  border-color: #696969;
  list-style-type: none;
  margin: 0;padding: 0;
  background: rgb(238, 238, 238);
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  padding-left: 50px;
}

span {
  color: red;
}

.text-space {
  margin-left: 20px;
}
