<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<div class="page-container">

  <div class="h1bg">
    <h1>Welcome</h1>
  </div>
  <br><br>

  <p>Hi, my name is Robert Tea. It's a pleasure to meet you. Welcome to my travel blog! Here you'll experience the world through my eyes
    and the stories I have much to tell. I hope you enjoy your stay.</p>
  <p>This website will be updated each adventure I encounter. The links above will take you to different section of the website.</p>

  <p class="text-space"><i class="fas fa-caret-right"></i> The <b>About</b> page provides a summary about my adventures.</p>
  <p class="text-space"><i class="fas fa-caret-right"></i> The <b>Destinations</b> page provides a detailed descriptions and images of my adventures. <span>(In Progress)</span></p>
  <!--<p class="text-space"><i class="fas fa-caret-right"></i> The <b>Contact</b> page allows you to contact me if wanted. <span>(In Progress)</span></p>-->
  <br>
  <p class="quote">“Wherever you go becomes a part of you somehow.” - Anita Desai</p>
  <br><br><br>
</div>
